:root {
    --card_width: 350px;
    --row_increment: 10px;
    --card_border_radius: 16px;
    --card_small: 33;
    --card_med: 45;
    --card_large: 53;
}

/*  --------  CONFIGURATION DES PAGES  --------  */
body {
    margin: 0%;
    font-family: sans-serif;
    background: #EFEFEF;
}


/*  --------  CONFIGURATION DES TEXTES  --------  */
h1 {
    text-align: center;
    
}

img{
    width: 100%;
}

/*  --------  HEADER  --------  */
header {
    background-color: rgb(16, 16, 16);
    height: 5%;
    margin: 0%;
}

nav, ul, li{
    list-style-type: none;
    display: inline-block;
    padding: 10px;
}

ul, li, a {
    color: #BAB1FF;
    letter-spacing: 0.1rem;
}

ul, li, a:hover{
    color: rgb(63, 0, 0);
}

.menu {
    margin: 0%;
    display: flex;
    justify-content:space-around;
}

.menu a{
    display: block;
    min-width: 120px;
    margin: 0.5rem;             
    padding: 0.5rem 0;
    text-align: center;
    color: #f8f7ff; 
    text-decoration: none;
    font-weight: bold;
    font-size: x-large;
    transition: all 1s ;        /* Ajout des effets de transition */
}

.menu a:hover{
    color: #BAB1FF;
}

#page_actuel {
    color: #BAB1FF;
}

/*  --------  présentation  --------  */

.button {
    display: flex; /* Utilise Flexbox */
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement (si nécessaire) */
    margin-top: 20px; /* Espacement au-dessus du bouton */
}

.button button {
    padding: 10px 20px; /* Ajuste la taille du bouton */
    background-color: #f5f5f5; /* Couleur de fond du bouton */
    color: rgb(4, 4, 4); /* Couleur du texte */
    border-radius: 5px; /* Ajoute un arrondi au bouton */
    transition: background-color 0.3s ease; /* Transition fluide pour le hover */
}

.button button:hover {
    background-color: #0a0a0a; /* Change la couleur au survol */
    color: #BAB1FF;
}

/*  --------  présentation  --------  */
.presentation {
    margin: 5%;
    margin-top: 10%;
    margin-bottom: 10%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 11px;
    grid-row-gap: 0px;
    align-items: center; /* Centre verticalement les blocs */
}
    
.presentation_text { grid-area: 1 / 3 / 2 / 7; }

.presentation_img { grid-area: 1 / 8 / 2 / 11; }
.presentation_img img {
    border-radius: 15px;
}

/*  --------  categorie  --------  */
.categorie {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.categorie > div {
    position: relative; /* Pour superposer les images */
    width: 100%;
    padding-top: 56.25%; /* Maintient une proportion (16:9 ici) */
    background-size: cover;
    background-position: center;
    transition: background-image 0.3s ease-in-out;
}

.categorie > div a {
    position: absolute; /* Lien positionné par rapport au conteneur parent */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-decoration: none; /* Supprime les soulignements (facultatif) */
    z-index: 10; /* S'assure que le lien est cliquable au-dessus */
}

    
.categorie1 { background-image: url('/images/Bannière/genshin.png');}
.categorie1:hover {background-image: url('/images/Bannière/genshin_hover.png');}

.categorie2 {background-image: url('/images/Bannière/lol.png');}
.categorie2:hover {background-image: url('/images/Bannière/lol_hover.png');}

.categorie3 {background-image: url('/images/Bannière/manga.png');}
.categorie3:hover {background-image: url('/images/Bannière/manga_hover.png');}

.categorie4 {background-image: url('/images/Bannière/onepiece.png');}
.categorie4:hover {background-image: url('/images/Bannière/onepiece_hover.png');}


/*  --------  galerie  --------  */
/*CONFIGURATION DES SECTIONS*/
#galerie {
    margin: 5%;
}

#ligne_cosplay {
    width: 100%;
    height: fit-content;
    background: rgb(232, 232, 232);
    display: grid;
    grid-template-columns: repeat(12,);
    text-align: center;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

/*CONFIGURATION DES FORMES*/
.cercle {
    width: 200px;
    height: 200px;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
}
.cercle img {
    width: 100%;
    height: auto;
}
.cercle:hover {
    opacity: 50%;
}

/*  --------  CONFIGURATION DE LA GRILLE  --------  */ 
.img1 { grid-area: 1 / 1 / 2 / 3; }
.img2 { grid-area: 1 / 3 / 2 / 5; }
.img3 { grid-area: 1 / 5 / 2 / 7; }
.img4 { grid-area: 1 / 7 / 2 / 9; }
.img5 { grid-area: 1 / 9 / 2 / 11; }
.img6 { grid-area: 1 / 11 / 2 / 13; }

/*  --------  SECTIONS 3  --------  */
/*CONFIGURATION DES SECTIONS*/
#section3 {
    margin: 2%;
    width: 96%;
    height: 200vh; /*vh = vue de la fenètre*/
    background: rgb(232, 232, 232);
    border-radius: 2%;
    position: relative; /* Important pour contenir les enfants absolus */
    overflow: hidden; /* Empêche les débordements des enfants */
}
#section3 img{
    max-width: 100%;
    max-height: 100%;
    border-radius: 5%;
    position: absolute; /* Nécessaire pour le positionnement aléatoire */
    overflow: hidden;
}

.positionPor {
    width: 200px;
    height: 300px;
    border-radius: 10%;
    position: absolute;
    left: 10%;
    top: 10%;
}

.positionPay {
    width: 300px;
    height: 200px;
    border-radius: 10%;
    position: absolute;
    left: 10%;
    top: 10%;
}

.positionP {
    width: 200px;
    height: 200px;
    border-radius: 10%;
    position: absolute;
    left: 10%;
    top: 10%;
}

/*  --------  SECTIONS cosplay  --------  */
/*CONFIGURATION DES SECTIONS*/
#panneau_cosplay {
    margin: 2%;
    width: 96%;
    height: 100vh; /*vh = vue de la fenètre*/
    position: relative; /* Important pour contenir les enfants absolus */
    overflow: hidden; /* Empêche les débordements des enfants */
}
#panneau_cosplay img{
    max-width: 100%;
    max-height: 100%;
    border-radius: 100%;
    position: absolute; /* Nécessaire pour le positionnement aléatoire */
    overflow: hidden;
}

/*  --------  presentation  --------  */
/*CONFIGURATION DES SECTIONS*/
#section_presentation {
    color: rgb(75, 75, 224);
    width: 100%;
    margin: 0px;
    border: 0px;
}

#section_presentation img{
    width: 100%;
}

#section_presentation p{
    margin: 2%;
}

/*AFFICHAGE PINTEREST*/ 
.pin_container {
    margin-top: 5%;
    padding: 0;
    width: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    columns: 100px 4;
    column-gap: 15px; /*ajout*/
    justify-content: center;
}

.card {
    padding: 0;
    margin: 15px 10px;
    border-radius: var(--card_border_radius);
    background-color: rgb(178, 178, 178);
    overflow: hidden;
    display: flex; /*ajout*/
    flex-direction: column; /*ajout*/
    align-self: start; /*ajout*/
    position: relative; /*ajout*/
    break-inside: avoid;
}
.card img{
    width: 100%;
    height: auto; /* Maintient le ratio d'aspect */
    display: block; /*ajout*/
    object-fit: cover; /* Coupe l'image si elle dépasse, tout en la centrant */
    object-position: center;
}

.card-1 {
    margin-top: 0;
}